.games-played {
  font: 2.2em Helvetica Neue, sans-serif;
  font-weight: 200;
}

.tooltip {
  font: 1em Helvetica Neue, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 #55ff55;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  color: black;
  padding: 5px;
  text-align: center;
}
